<!doctype html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org" th:fragment="layout(title, content)">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title th:text="${title}">Nexus - Sistema de Gestão Interna</title>
        <link rel="icon" type="image/png" th:href="@{/favicon.png}">

        <script th:src="@{/js/alpinejs-3.15.12.js}"></script>
    </head>
    <body>
        <header></header>
        <main th:insert="${content}"></main>
        <footer></footer>
    </body>
</html>